<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rat.travel.server.db.mappers.TourMapper">

<resultMap type="com.rat.travel.shared.Tour" id="TourMap">
   <result column="ID" property="id" />
   <result column="NAME" property="name" />
   <result column="COUNTRY_ID" property="countryId" />
</resultMap>  


<select id="getToursList" resultMap="TourMap">
SELECT ID,
       NAME,
       COUNTRY_ID
  FROM TOUR
 ORDER BY ID                
</select>

<select id="getTourById" resultMap="TourMap" parameterType="int">
SELECT ID,
       NAME,
       COUNTRY_ID
  FROM TOUR 
  WHERE ID=#{id}     
</select>

<update id="updateTour111">
UPDATE TOUR
   SET NAME= #{name}
 WHERE ID=#{id}   
</update>

<update id="updateTour" parameterType="com.rat.travel.shared.Tour">
UPDATE TOUR
   SET NAME= #{name}
 WHERE ID=#{id}   
</update>

</mapper>
